@import 'bootstrap';
@font-face {font-family:"Permanent Marker";
    src:url("Aller_Bd.eot?") format("eot"),
    url("Aller_Bd.woff") format("woff"),
    url("Aller_Bd.ttf") format("truetype"),
    url("Aller_Bd.svg#Aller-Bold") format("svg");font-weight:normal;font-style:normal;}

*{
    background-color: rgb(42, 42, 42);
    color: white;
    font-family: "Aller Bold", 'Trebuchet MS';
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

#logo{
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    width: 100px;
    right: 1rem;
}

#home-container{
    text-align: center;
    height: 85vh;
    width: 88vw;
    border: solid 4px white;
    border-radius: 5px;
    margin: 0 5% 0 5%;
}

a{
    color: white !important;
    text-decoration: none !important;
}
a:hover {
    cursor: pointer !important;
    color: #ff23c1 !important;
    text-decoration: none !important;
  }
  .body-container{
    text-align: center;
    height: 85vh;
    width: 88vw;
    border: solid 4px white;
    border-radius: 5px;
    margin: 0 5% 0 5%;
}
